ul.draggable-objects:after {
    display: block;
    content: "";
    clear: both;
}
[ng-drag].drag-over {
    border: solid 1px #acaca1;
    z-index: 10;
}
[ng-drag].dragging {
    opacity: 0.8;
}
[ng-drop] {
    /*background: #ffffff;
    text-align: center;
    width: 100%;
    height: 200px;
    padding-top: 20px;
    display: block;
    margin: 20px auto;
    float: left;*/
}
[ng-drop].drag-enter {
    border: solid 4px #acaca1;
}

[ng-drop] div {
    position: relative;
    z-index: 2;
}
.tokenContainerAtivo {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #58331D;
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.117647) 100%);
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px inset;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 600;
    height: 26px;
    margin: 3px !important;
    text-align: left;
    white-space: nowrap;
}
.tokenContainer  {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffffff;
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.117647) 100%);
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px inset;
    color: #58331D;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 600;
    height: 26px;
    margin: 3px !important;
    text-align: left;
    white-space: nowrap;
}
.tags {
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 600;
    height: 26px;
    letter-spacing: -0.13px;
    list-style-type: disc;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-align: left;
    white-space: nowrap;
    -webkit-font-smoothing: auto;
}
.tags:hover {
    padding: 0 8px;
}
.movivel {
    cursor: move;
}
.movivel:hover{
    padding-bottom: 6px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 4px !important;
}